div{
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-color: black;
    border: 2px black ;

}
#game{
    background-color: antiquewhite
}

main{background-color: antiquewhite;
    height: 100%;
    width: 100%;
}
nav{
    height: 100px;
    width: 100%;
}
html{ background-color: antiquewhite;
    margin-top: 10px;
    padding: 0%;
}
#pregunta{
    background-color: rgb(255, 238, 4);
    width: 100%;
    height: 40%;
}
button{
    margin: 0;
    padding: 0%;
    width: 140px;
    height: 80px;
}
nav button{
height: 50px;
}